/* .top-row{
        white-space: nowrap;
        animation: scrollText 30s linear infinite;  
}

.top-container {
  background-color: #0d378d;
  width: 100%;
  height: 36px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .scrolling-text {
    white-space: nowrap; 
    animation: scrollText 30s linear infinite; 
  }

  .text-item {
    padding-right: 50px; 
    white-space: nowrap;
  }

    @keyframes scrollText {
      0% {
        transform: translateX(100%); 
      }
      100% {
        transform: translateX(-100%); 
      }
    } */

    .top-container {
      background-color:  #0D378D;
      padding: 10px 0;
      position: relative; /* Required for positioning the scrolling text */
      overflow: hidden; /* Hide the overflow (ensure smooth scrolling) */
  }
  
  .scrolling-text {
      display: flex; /* Ensures text elements are inline horizontally */
      animation: scroll-text 20s linear infinite; /* Adjust the animation speed here */
  }
  
  .text-item {
      white-space: nowrap; /* Prevent line breaks inside the text */
      padding-right: 15px; /* Add space between each repeated text */
      font-size: 16px; /* Adjust font size as needed */
  }
  
  @keyframes scroll-text {
      0% {
          transform: translateX(0); /* Start at the left side */
      }
      100% {
          transform: translateX(-50%); /* Move the entire content to the left */
      }
  }
  