
.badgeContainer {
  align-items: center;
  background: #f7f5f5;
  border-radius: 22px;
  box-shadow: 0 4px 16px #11111a1a, 0 8px 32px #11111a0d;
position: relative;
bottom: 5em;
  left: 28em;
  z-index: 10;
  width: 55%;
  padding: 20px;
  
}







@media (min-width: 768px) and (max-width: 1024px){
  .badgeContainer {
    position: relative;
    background-color: white;
    width: 80%;
  }

.log-img{
  width: 50%;
}
}


@media (min-width: 360px) and  (max-width: 800px) {
  .badgeContainer {
    position: relative;
    left: 0.9em;
    width: 90%;
    bottom: 2em;
  }

  .log-img{
    width: 90%;
  padding: 0;
  height: 60%;
    padding: 0.3rem;
  }
}



@media (max-width: 1280px) and  (min-width: 800px) {
  .badgeContainer {
    position: relative;
    left: 18em; 
    width: 80%;

     padding: 0px;
  }

.log-img{
  width: 90%;

  padding: 0.5rem;
}
  
}


@media (min-width: 810px) and  (max-width: 1080px) {
  .badgeContainer {
 
    position: relative;
    left: 0;
    width: 100%;
    padding-left: 3em;
  }

.log-img{
  width: 65%;
  height: 20%;
  padding: 0.8rem;
}
  
}

@media (min-width: 810px) and  (max-width: 1080px) {
  .badgeContainer {
 
    position: relative;
    left: 0;
    width: 100%;
    padding-left: 3em;
  }

.log-img{
  width: 65%;
  height: 20%;
  padding: 0.8rem;
}
  
}


@media (min-width: 800px) and  (max-width: 1280px) {
  .badgeContainer {
    position: relative;
    left: 10em; 
    width: 60%;
     padding: 0px;
  }

.log-img{
  width: 90%;
  padding: 0.5rem;
}
  
}


@media (min-width: 601px) and  (max-width: 962px) {
  .badgeContainer {
    position: relative;
    left: 4em; 
    width: 80%;
     padding: 0px;
  }

.log-img{
  width: 90%;
  padding: 0.5rem;
}
  
}


@media (max-width: 1366px) and  (min-width: 768px) {
  .badgeContainer {
    position: relative;
    left: 5em; 
    width: 80%;
  }

.log-img{
  width: 60%;
}
  
}


@media (max-width: 1536px) and  (min-width: 864px) {
  .badgeContainer {
    position: relative;
    left: 8em; 
    width: 80%;
  }

.log-img{
  width: 80%;
}
  
}