/* Hero */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero {
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 80vh;
    background: url('../../../../public/assets/expert-calgary-painter.png') no-repeat center center/cover;
    background-size: cover;
}

.hero-content {
    position: relative;
    z-index: 2;
    padding: 0 15px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 2rem;
}

.highlight {
    background: #0D378D;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.buttons {
    margin-top: 3em;
}

.btn {
    text-decoration: none;
    color: white;
    border-radius: 30px;
    display: inline-block;
    margin: 10px;
    font-weight: 500;
    font-size: 1.1rem;
}

.primary {
    padding: 10px 20px;
    background: #0D378D;
    border: 2px solid #CADBFF;
}

.secondary {
    border: 2px solid #CADBFF;
    padding: 10px 30px;
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.75rem;
    }

    .buttons {
        margin-top: 2em;
    }

    .btn {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1.5rem;
    }

    .buttons {
        margin-top: 1.5em;
    }

    .btn {
        font-size: 0.95rem;
    }
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 1.25rem;
    }

    .buttons {
        margin-top: 1.5em;
    }

    .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .hero {
        height: 60vh;
    }
}
