
.about-us {
  background-color: #ffffff;
}

.about-image {
  position: relative;
  top: 40px;
}

.experience-tag {
  position: absolute;
  top: 2em;
  background-color: #0D378D;
  color: white;
  padding: 10px 15px;
  font-size: 22px;
}

.about-content {
  max-width: 100%;
}

.about-content h2 {
  font-weight: bold;
  color: #000000;
}

.about-content h3 {
  color: #0a2472;
  font-size: 32px;
  font-weight: 600;
  margin-top: 21px;
  color: #0d378d !important;
}




.about-content p {
  color: #333;
  font-size: 16px;
}
.about-card
.about-btns {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  padding: 8px 11px 8px 15px;
  background-color: #0D378D;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  border: 2px solid #CADBFF;
  width: auto;
}

.card-btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 1em;
}

.about-card {
  background: #f9f9f9;
  border: none;

  padding-right: 10rem;
}


.about-card h2 {
  font-size: 2rem;
}

.about-card h3 {
  color: #0a2472;
  font-size: 36px;
  font-weight: 400;
  margin-top: 21px;
  color: #0d378d !important;
}

.about-card p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.about-btn {
  display: inline-flex;
  align-items: center;
}

.about-btn .arrow {
  margin-left: 8px;
}


@media (max-width: 768px) and (max-width: 1024px)  {
  .about-image {
    text-align: center;
 
  }
  

  .about-content {
    padding: 10px;
  }


  .about-card h2 {
    font-size: 1.5rem;
  }

  .about-card h3 {
    font-size: 1.3rem;
  }

  .about-card p {
    font-size: 1rem;
  }

  .about-btns {
    width: auto;
    margin-top: 15px;
  }

  .experience-tag {
    font-size: 12px;
  }


}







@media (min-width: 768px) and (max-width: 1024px) {




   .about-card h2 {
    font-size: 0.9rem;
  }

  .about-card h3 {
    font-size: 0.9rem;
  }

  .about-card {
  
  
    padding-right: 0rem;
  }
}


@media (max-width: 471px) {




 .about-card h3 {
   font-size: 1.5rem;
   margin-top: 20px;
 }

ma

 .about-card {
 font-size: 0.9 !important;
 
   padding-right: 0rem;
 }
}



