.why-choose-us {
  padding: 5rem 15rem;
  background-color: #f8f9fa;
}


.why-choose-us h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0d378d;
}


.features {
  margin-top: 30px;
}

.feature {
  text-align: center;
  padding: 20px;
}


.feature .icon {
  margin-bottom: 15px;
}

.feature h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}


.feature p {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.5;
}
  

  @media (max-width: 991px) {
    .why-choose-us h2 {
      font-size: 30px;
    }
  
    .feature {
      width: 45%;
    }
  
    .feature p {
      width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .why-choose-us {
      padding: 50px 15px;
    }
  
    .why-choose-us h2 {
      font-size: 28px;
    }
  
    .feature {
      width: 100%;
      text-align: left;
    }
  
    .feature p {
      width: 100%; 
      margin: 0 auto;
    }
  }
  
  @media (max-width: 575px) {
    .why-choose-us h2 {
      font-size: 24px;
    }
  
    .features {
      gap: 10px; 
    }
  }
  