

/* Container styles */
.special-offer-wrap {
  margin: 0 auto;
  padding: 50px 0;
}

/* Heading Styles */
.special-offer-top h3 {
  font-size: 24px;
  color: #0D378D;
}

.special-offer-top h1 {
  font-size: 34px;
  font-weight: 400;
  color: #0D378D;
  text-transform: uppercase;
  margin-top: 10px;
}

/* Carousel and Arrow Styles */
.offers-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  background-color: black;
  padding: 35px;
}

.carousel {
  position: relative;
  flex: 1;
}

.carousel-images {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.carousel-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  transform: translateY(-1em);
  padding: 0 10px;
  /* padding: 0 right 0 left; */
}

.prev-arrow{
  margin-left: 1em;
}

.next-arrow{
  margin-right: 32em;
}

.carousel-arrows button {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-arrows button:hover {
  background-color: #005ea2;
}

.carousel-arrows img {
  width: 15px;
  height: 25px;
}

/* Details Section */
.details-wrap {
  /* margin-top: 30px; */
  padding-top: 8em;
}

.details-wrap h2 {
  font-size: 20px;
  /* line-height: 1.5; */
  color: white;
  margin-bottom: 20px;
}

.details-wrap p {
  font-size: 16px;
  color: white;
  line-height: 1.5;
}

.carasoul-btns {
  margin-top: 20px;
  background-color: #0D378D;
  color: white;
  /* padding: 12px 30px; */
  display: inline-flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 28px;
  text-decoration: none;
}

.carasoul-btns:hover {
  background-color: #005ea2;
}

/* .carasoul-btns .arrow {
  margin-left: 10px;
} */

.arrow{
  margin-left: 1em;
}

/* Media Queries for Responsiveness */

@media (max-width: 800px) and (max-width: 1280px) {
  .special-offer-wrap {
    width: 85%;
  }

  .special-offer-top h1 {
    font-size: 26px;
  }

  .details-wrap {
    padding-left: 15px;
  }

  .carousel-arrows {
    /* display: none; */
    transform: translateY(-14em);
  }


  .prev-arrow{
    margin-left: -1em;
  }
  
  .next-arrow{
    margin-right: 5em;
  }


  .carasoul-btns {
    margin-left: 20px;
    padding: 8px 16px;
  }
}

@media (max-width: 820px) and (max-width: 1180px) {
  .special-offer-wrap {
    width: 85%;
  }

  .special-offer-top h1 {
    font-size: 26px;
  }

  .details-wrap {
    /* padding-left: 15px; */
    margin-top: 0;
    padding: 0;
  }

  .carousel-arrows {
    /* display: none; */
    transform: translateY(-14em);
  }


  .prev-arrow{
    margin-left: -1em;
  }
  
  .next-arrow{
    margin-right: 9em;
  }


  .carasoul-btns {
    /* margin-left: 20px; */
    padding: 8px 16px;
    width: 40%;
  }
}

@media (max-width: 601px) and (max-width: 962px) {
  .special-offer-wrap {
    width: 85%;
  }

  .special-offer-top h1 {
    font-size: 26px;
  }

  .details-wrap {
    /* padding-left: 15px; */
    margin-top: 0;
    padding: 0;
  }

  .carousel-arrows {
    /* display: none; */
    transform: translateY(-14em);
  }


  .prev-arrow{
    margin-left: -1em;
  }
  
  .next-arrow{
    margin-right: 9em;
  }


  .carasoul-btns {
    /* margin-left: 20px; */
    padding: 8px 16px;
    width: 100%;
  }
}


@media (max-width: 768px) and (max-width: 1024px) {
  .special-offer-wrap {
    width: 85%;
  }

  .special-offer-top h1 {
    font-size: 26px;
  }

  .details-wrap {
    padding-left: 15px;
  }

  .carousel-arrows {
    /* display: none; */
    transform: translateY(-14em);
  }


  .prev-arrow{
    margin-left: -1em;
  }
  
  .next-arrow{
    margin-right: 9em;
  }


  .carasoul-btns {
    margin-left: 20px;
    padding: 8px 16px;
  }
}

@media (max-width: 810px) and (max-width: 1080px) {
  .special-offer-wrap {
    width: 85%;
  }

  .special-offer-top h1 {
    font-size: 26px;
  }

  .details-wrap {
    padding-left: 15px;
    padding-top: 0PX;
  }

  .carousel-arrows {
    /* display: none; */
    transform: translateY(-14em);
  }


  .prev-arrow{
    margin-left: -1em;
  }
  
  .next-arrow{
    margin-right: 9em;
  }


  .carasoul-btns {
    /* margin-left: px; */
    padding: 8px 16px;
    width: 40%;

  }
}

@media (max-width: 1280px) and (max-width: 800px) {
  .special-offer-wrap {
    width: 85%;
  }

  .special-offer-top h1 {
    font-size: 26px;
  }

  .details-wrap {
    padding-left: 15px;
  }

  .carousel-arrows {
    /* display: none; */
    transform: translateY(-14em);
  }


  .prev-arrow{
    margin-left: -1em;
  }
  
  .next-arrow{
    /* margin-right: 1em; */
    
  }


  .carasoul-btns {
    margin-left: 20px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .special-offer-wrap {
    width: 100%;
  }

  .special-offer-top h1 {
    font-size: 22px;
  }

  .offers-wrap {
    height: 30%;
    padding: 0;
  }

  .details-wrap {
    /* margin-top: 30px; */
    padding-top: 0;
    margin-top: 0;
  }

  .carousel-arrows {
    /* display: none; */
    transform: translateY(-14em);
  }


  .prev-arrow{
    margin-left: 1em;
  }
  
  .next-arrow{
    /* margin-right: 32em; */
  }


  .carousel-images {
    padding: 0 6em;
    margin: 2em;
    width: 103%;
  }

  .carasoul-btns {
    margin-left: 10px;
    padding: 6px 14px;
    margin-bottom: 1em;
    width: 58%;
  }

  .arrow{
    /* margin-left: 1em; */
    margin-left: 2em;
  }
}

@media (max-width: 360px) and (max-width: 780px) {
  .special-offer-wrap {
    width: 100%;
  }

  .special-offer-top h1 {
    font-size: 22px;
  }

  .offers-wrap {
    height: 30%;
    padding: 0;
  }

  .details-wrap {
    /* margin-top: 30px; */
    padding-top: 0;
    margin-top: 0;
  }

  .carousel-arrows {
    /* display: none; */
    transform: translateY(-14em);
  }


  .prev-arrow{
    margin-left: -1em;
  }
  
  .next-arrow{
    /* margin-right: 32em; */
  }


  .carousel-images {
    padding: 0 5em;
    margin: 1em;
    width: 103%;
  }

  .carasoul-btns {
    margin-left: 10px;
    padding: 6px 14px;
    margin-bottom: 1em;
    width: 58%;
  }


}


@media (max-width: 360px) and (max-width: 780px) {
  .special-offer-wrap {
    width: 100%;
  }

  .special-offer-top h1 {
    font-size: 22px;
  }

  .offers-wrap {
    height: 30%;
    padding: 0;
  }

  .details-wrap {
    /* margin-top: 30px; */
    padding-top: 0;
    margin-top: 0;
  }

  .carousel-arrows {
    /* display: none; */
    transform: translateY(-14em);
  }


  .prev-arrow{
    margin-left: -1em;
  }
  
  .next-arrow{
    /* margin-right: 32em; */
  }


  .carousel-images {
    padding: 0 5em;
    margin: 1em;
    width: 103%;
  }

  .carasoul-btns {
    margin-left: 10px;
    padding: 6px 14px;
    margin-bottom: 1em;
    width: 58%;
  }


}

.offer-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%; 
  margin: 0 auto; 
  height: 300px; 
}

.offer-img-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.offer-img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.offer-bottom-overlay {
  position: absolute;
  bottom: 86px;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #0D378D3D;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.offer-bottom-overlay-description {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-left: 25px;
}


@media (min-width: 576px) {
  .offer-card {
    height: 500px; 
  }
}

@media (min-width: 360px) and (min-width: 780px){
  .offer-card {
    height: 400px; 
  }
}

@media (min-width: 768px) {
  .offer-card {
    height: 550px; 
  }
}

@media (min-width: 992px) {
  .offer-card {
    height: 600px; 
  }
}

@media (min-width: 1200px) {
  .offer-card {
    height: 650px; 
  }
}

