
.badgeContainer {
  align-items: center;
  gap: 30px;
  background: #fff;
  border-radius: 22px;
  box-shadow: 0 4px 16px #11111a1a, 0 8px 32px #11111a0d;
  margin: auto;
  padding: 8px;
  position: relative;
  margin-top: -73px;
  gap: 20rem;
  z-index: 10;
  padding-left: 41px;
  padding-right: 41px;
}
/* For screens 800px and above (large screen size adjustment) */
@media (min-width: 800px) {
  .badgeContainer {
    width: 50%; /* Adjust width on large screens */
  }
}

/* Adjust width for medium screens (e.g., tablets) */
@media (max-width: 992px) {
  .badgeContainer {
    width: 70%; /* Adjust width on medium screens */
  }
}

/* Adjust width for small screens (e.g., mobile) */
@media (max-width: 768px) {
  .badgeContainer {
    width: 37%; /* Adjust width on small screens */
  }
}

/* Adjust width for very small screens (e.g., mobile in portrait mode) */
@media (max-width: 576px) {
  .badgeContainer {
    width: 45%; /* Adjust width on very small screens */
    padding: 10px;
  }
}
