
  .special-offer-wrap {
    width: 70%;
    margin: auto;
  }
  
  .special-offer-top {
    text-align: center;
    width: 998px;
    margin: auto;
  }
  
  .special-offer-top h3 {
    font-size: 22px;
    font-weight: 500;
    color: #000;
  }
  
  .special-offer-top h1 {
    font-size: 34px;
    font-weight: 400;
    color: #0D378D;
    text-transform: uppercase;
  }
  
  .offers-wrap {
    width: 100%;
    height: 700px; /* Increase the height of the carousel container (adjust as needed) */
    margin: auto;
    background-color: #111111;
    margin-top: 25px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
  }
  
  
  .carousel {
    width: 100%;
    height: 100%; /* Ensure carousel takes the full height of the container */
    overflow: hidden;
    position: relative;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%; /* Ensure carousel images take the full height */
    padding: 40px;
    position: relative;
  }
  
  .carousel-images .offer-card {
    margin: 0 10px;
    width: 100%;
    height: 100%; /* Ensure the offer cards fill the carousel */
  }
  
  .carousel-arrows {
    position: absolute;
    top: 50%;
    /* left: 0;
    right: 0; */
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .prev-arrow {
    background: white;
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    right: 560px;
  }

  .next-arrow {
    background: white;
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    left: 32px;
  }
  
  
  .prev-arrow img, .next-arrow img {
    width: 15px;
    height: 25px;
  }
  
  .details-wrap {
    width: 50%;
    margin-top: 20px;
  }
  
  .details-wrap .banner-btn {
    margin-top: 20px;
  }
  
  .details {
    width: 479px;
    margin-left: 45px;
    margin-top: 55px;
  }
  
  .details h2 {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 500;
  }
  
  .details p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  }
  
  .details-wrap .banner-btn {
    margin-left: 45px;
    vertical-align: top;
  }
  
  .offer-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .offer-img-container {
    position: relative;
    height: 100%;
  }
  
  .offer-img {
    width: 100%;
    height: 100%; /* Ensure image fills the offer card */
    object-fit: cover; /* Maintain aspect ratio, while filling the height and width */
  }
  
  .offer-ribbon {
    position: absolute;
    top: 40px;
    background-color: #0D378D;
    color: white;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 20px;
  }
  
  .offer-bottom-overlay {
    position: absolute;
    bottom: 86px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #0D378D3D;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
  }
  
  .offer-bottom-overlay-description {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
  }
  
  .offer-bottom-overlay p {
    margin: 5px 0;
  }
  
  .offer-bottom-overlay strong {
    font-weight: bold;
    font-size: 16px;
  }
  

  .about-btn{
    padding: 10px 20px;
    background-color: #0d378d;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    border: 2px solid #cadbff;
    display: flex
;
    align-items: center;
    text-decoration: none;
    margin-left: 41px;
  }