


.service-header {
  background-color: white;
  padding: 4rem 0;
}

.service-header h2 {
  font-size: 2rem;
  color: #000;
}

.service-header h1 {
  font-size: 2.5rem;
  color: #0D378D;
}

.service-btn {
  margin-top: 1rem;
}

.service-list{}

.explore-btn {
  padding: 10px 20px;
  background-color: #0D378D;
  color: white;
  border: none;
  border-radius: 30px;
}


.service-content {
  background-color: #111111; 
  padding-top: 3rem;
  padding-bottom: 3rem;

}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #555;
  cursor: pointer;
  font-size: 20px;
  color: #FFFFFF80;
}

.service-item.active {
  color: #fff;
}

.service-details h3 {
  font-size: 20px;
  font-weight: 600;
}

.service-text {
  font-size: 13px;
  font-weight: 400;
}

.service-btns {
  display: inline-flex;
  align-items: center;
  padding: 8px 11px 8px 15px;
  background-color: #0D378D;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  border: 2px solid #CADBFF;
  
}


.service-title-btn{
  height: 10%;
  width: 20%;
  margin-left: 9em;
}


@media (max-width: 768px) {
  .service-header h1 {
    font-size: 2rem;
  }

  .service-item {
    font-size: 18px;
    padding: 15px 0;
  }

  .service-details h3 {
    font-size: 19px;
    font-weight: 400;
}

  .service-text {
    font-size: 12px;
  }

  .service-btns {
    font-size: 14px;
    padding: 6px 12px;
  }
}

@media (max-width: 576px) {
  .service-header h1 {
    font-size: 1.75rem;
  }

  .service-item {
    font-size: 16px;
  }

  .service-details h3 {
    font-size: 19px;
    font-weight: 400;
}

  .service-text {
    font-size: 11px;
  }

  .service-btns {
    font-size: 12px;
    padding: 5px 10px;
  }

  
}


@media (min-width: 360px) and (max-width: 915px) {
  .service-title-btn {
    height: 10%;
    width: 50%;
    margin-left: -11em;
  }
  .service-details h3 {
    font-size: 19px;
    font-weight: 400;
}
}


@media (min-width: 360px) and (max-width: 780px) {
  .service-title-btn {
    height: 10%;
    width: 60%;
    margin-left: -7em;
  }
  .service-details h3 {
    font-size: 19px;
    font-weight: 400;
}
}


@media (min-width: 768px) and (max-width: 1024px) {
  .service-title-btn {
    height: 10%;
    width: 30%;
    margin-left: 2em; 
  }
  .custom-img {
    width: 400px;
    height: 150px !important;
    object-fit: cover;
    object-position: center;
  }
  
  .service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #555;
    cursor: pointer;
    font-size: 22px;
    color: #FFFFFF80;
  }

  .service-details h3 {
    font-size: 19px;
    font-weight: 400;
}
  
}

@media (min-width: 601px) and (max-width: 962px) {
  .service-title-btn {
    height: 10%;
    width: 50%;
    /* margin-left: 2em; */
    /* margin-left: -16em; */
  }

  .service-details h3 {
    font-size: 19px;
    font-weight: 400;
}
}





.custom-img {
  width: 400px;
  height: 250px !important;
  object-fit: cover;
  object-position: center;
}