
.offer-card {
  position: relative;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.offer-img-container {
  position: relative;
  height: 100%;
}

.offer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-ribbon {
  position: absolute;
  top: 40px;
  background-color: #0D378D;
  color: white;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 20px;
  margin-left: 1px;
}

.offer-bottom-overlay {
  position: absolute;
  bottom: 86px;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #0D378D3D;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.offer-bottom-overlay-description {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-left: 25px;
}

.offer-card.active {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  margin: 18px;
}

.offer-card .offer-img-container {
  border-bottom: 2px solid #0D378D;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .offer-card {
    width: 45%;
  }
}



@media (max-width: 480px) {
  .offer-card {
    width: 100%;
  }

  .offer-ribbon {
    font-size: 8px;
    padding: 5px 10px;
  }



  .offer-bottom-overlay-description {
    font-size: 8px;
    
  }

  .offer-card.active {
    margin: 10px;
  }

}



@media (max-width: 360px) and (max-width: 780px){
  .offer-card {
    width: 100%;
   
  }

  .offer-ribbon h2{
    font-size: 10px;
    padding: 5px 10px;
  }

  .offer-bottom-overlay p{
    font-size: 8px;
   
  }


  .offer-bottom-overlay-description {
    font-size: 8px !important;
    /* margin-top: 3em; */
  }

  .offer-card.active {
    margin: 10px;
  }

}


@media (max-width: 390px) and (max-width: 844px){
  .offer-card {
    width: 100%;
   
  }

  .offer-ribbon h2{
    font-size: 10px;
    padding: 5px 10px;
  }

  .offer-bottom-overlay p{
    font-size: 8px;
   
  }


  .offer-bottom-overlay-description {
    font-size: 8px !important;
    /* margin-top: 3em; */
  }

  .offer-card.active {
    margin: 10px;
  }

}


@media (max-width: 414px) and (max-width: 896px){
  .offer-card {
    width: 100%;
   
  }

  .offer-ribbon h2{
    font-size: 10px;
    padding: 5px 10px;
  }

  .offer-bottom-overlay p{
    font-size: 8px;
   
  }


  .offer-bottom-overlay-description {
    font-size: 8px !important;
    /* margin-top: 3em; */
  }

  .offer-card.active {
    margin: 10px;
  }

}





p {
  margin-top: 0;
  margin-bottom: 0;
}