

.button-footer{
    border: 1px solid white;
    color: white;
    font-size: 16px;
    background-color: #0d378d !important;
    font-weight: 400;
}

h5.let{
   
    font-size: 44px
}

h2.Get{
    font-size: 72px;
    margin-bottom: 0px;
  
}


