.cardBg {
  background-color: #e2e7f1;
  padding: 15;
  border: none;
}

.blog-btn {
  color: #0d378d;
  margin-top: 20px !important;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}



.card-title {
  font-size: 28px;
  font-weight: bold;
  color: #0d378d;
}

.card-body {
  padding: 0;
}
