.cardBg {
  background-color: #e2e7f1;
  padding: 15;
  border: none;
}

.btn {
  color: #0d378d;
  margin-top: 20px !important;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.text-muted {
  background-color: #cee4e1;
  color: #0d378d !important;
  font-weight: 600;
  font-size: 16px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  color: #0d378d;
}

.card-body {
  padding: 0;
}
