.cardBg {
  background-color: #e2e7f1;

  border: none;
}

.blog-btn {
  color: #0d378d;

  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.ReadMore {

  color: #0d378d;
}


.card-title {
  font-size: 28px;
  font-weight: bold;
  color: #0d378d;
}

.cardB {
  background-color: #cee4e1;
  padding: 5px ;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 24px;
  color: #0d378d !important;
 font-weight: 700;
}


