.row > div {
    padding: 0 4px !important;
}

img {
  margin-top: 8px;
  vertical-align: middle;

}

:root {
    --bs-theme-color: #27436B;
    --bs-dark-color: #464646;
    --bs-orange-color: #FFF3AC;
    --bs-secondary-color: #27436B;
    --bs-dark-hover: #000;
    --bs-white-color: #fff;
    --bs-yellow-color: #FFF3AC;
    /* --bs-light-gray:#F7F7F7; */
    --bs-light-gray: #F7F7F7;
    --bs-font-secondary: "Anton", serif;
    --gallery-height: 500px;
    --gallery_gap:22px;
    --section-space: 100px;
    --section-smallspace: 50px;
    --section-hero-title: 65px;
    --section-heading: 36px;
    --section-textheading: 24px;
    --section-subheading: 22px;
    --section-subtitle: 20px;
    --section-paragraph: 16px;
    --section-largeheading:65px;
    --container-space: 7%;
}
@media (max-width:1399px) {
    :root
   {
    --section-hero-title: 48px;
    --section-textheading: 20px;
   }
}



.img-100 {
    height: calc(var(--gallery-height) + var(--gallery_gap));
}
.img-50 {
    height: calc(.50 * var(--gallery-height));
}

.gallery-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.bi-youtube{
    font-size: 24px;
    color: white;
}